body {
	background-color: #abcdef;
	background-image: url("../img/seamless_paper_texture.png");
}
.filter {
	display: inline-block;
	width: 25%;
}
.controls {
	margin-bottom: 20px;
}
.panel {
	cursor: pointer;
}
.panel:hover {
	box-shadow: 5px 5px 15px 1px #9d9d9d;
	transition: box-shadow 1s;
}