body {
	background-color: #abcdef;
	background-image: url("../img/seamless_paper_texture.png");
}
.filter {
	display: inline-block;
	width: 25%;
}

.controls {
	margin-bottom: 20px;
}

.rider-container {
	cursor: pointer;
}